USE [GunManager]
GO
/****** Object:  Table [dbo].[allrule-less]    Script Date: 2021/9/23 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allrule-less](
	[ID] [float] NULL,
	[Material] [nvarchar](255) NULL,
	[MaterialGroup] [nvarchar](255) NULL,
	[MaskedMPN] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxPackedDetailsTable]    Script Date: 2021/9/23 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxPackedDetailsTable](
	[序号] [int] NOT NULL,
	[装箱单号] [nvarchar](50) NOT NULL,
	[装备代码] [nvarchar](50) NOT NULL,
	[装备名称] [nvarchar](50) NOT NULL,
	[单装编号] [nvarchar](50) NULL,
	[缺失情况] [nvarchar](50) NULL,
	[枪管号] [nvarchar](50) NULL,
	[枪击或套筒号] [nvarchar](50) NULL,
	[机枪框号] [nvarchar](50) NULL,
	[备份枪管号] [nvarchar](50) NULL,
	[出库状态] [nvarchar](50) NOT NULL,
	[入库时间] [date] NOT NULL,
	[检视时间] [date] NULL,
	[出库时间] [date] NULL,
	[检视状态] [nvarchar](50) NULL,
 CONSTRAINT [PK_BoxPackedDetailsTable] PRIMARY KEY CLUSTERED 
(
	[序号] ASC,
	[装箱单号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxPackedTable]    Script Date: 2021/9/23 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxPackedTable](
	[退役报废文件号] [nvarchar](50) NOT NULL,
	[调拨凭证号] [nvarchar](50) NOT NULL,
	[装箱单号] [nvarchar](50) NOT NULL,
	[装备代码] [nvarchar](50) NULL,
	[装备名称] [nvarchar](50) NULL,
	[隶属单位] [nvarchar](50) NULL,
	[管理单位] [nvarchar](50) NULL,
	[出厂时间] [date] NULL,
	[装备时间] [date] NULL,
	[装箱数量] [int] NULL,
	[入库时间] [date] NULL,
 CONSTRAINT [PK_BoxPackedTable] PRIMARY KEY CLUSTERED 
(
	[退役报废文件号] ASC,
	[调拨凭证号] ASC,
	[装箱单号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinglePackedTable]    Script Date: 2021/9/23 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinglePackedTable](
	[退役报废文件号] [nvarchar](50) NOT NULL,
	[调拨凭证号] [nvarchar](50) NOT NULL,
	[装备代码] [nvarchar](50) NOT NULL,
	[装备名称] [nvarchar](50) NOT NULL,
	[单装编号] [nvarchar](50) NULL,
	[缺失情况] [nvarchar](50) NULL,
	[枪管号] [nvarchar](50) NULL,
	[枪击或套筒号] [nvarchar](50) NULL,
	[机枪框号] [nvarchar](50) NULL,
	[备份枪管号] [nvarchar](50) NULL,
	[隶属单位] [nvarchar](50) NOT NULL,
	[管理单位] [nvarchar](50) NOT NULL,
	[出厂时间] [date] NOT NULL,
	[装备时间] [date] NOT NULL,
	[出库状态] [nvarchar](50) NOT NULL,
	[入库时间] [date] NOT NULL,
	[检视时间] [date] NULL,
	[出库时间] [date] NULL,
	[检视状态] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinglePackedTable] PRIMARY KEY CLUSTERED 
(
	[退役报废文件号] ASC,
	[调拨凭证号] ASC,
	[装备代码] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 2021/9/23 16:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[姓名] [nvarchar](50) NOT NULL,
	[军官证号] [nvarchar](50) NOT NULL,
	[密码] [nvarchar](50) NULL,
	[编码检视操作] [bit] NOT NULL,
	[编码检视监督] [bit] NOT NULL,
	[信息管理操作] [bit] NOT NULL,
	[信息管理监督] [bit] NOT NULL,
 CONSTRAINT [PK_UserTable1] PRIMARY KEY CLUSTERED 
(
	[姓名] ASC,
	[军官证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BoxPackedDetailsTable] ([序号], [装箱单号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (1, N'31311', N'231123', N'31123', N'', N'', N'', N'', N'', N'', N'未出库', CAST(N'2021-09-22' AS Date), NULL, NULL, N'未检视')
INSERT [dbo].[BoxPackedDetailsTable] ([序号], [装箱单号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (1, N'98765430', N'9876540', N'97式突击步枪', N'', N'', N'', N'', N'', N'', N'未出库', CAST(N'2021-09-22' AS Date), NULL, NULL, N'未检视')
INSERT [dbo].[BoxPackedDetailsTable] ([序号], [装箱单号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (1, N'98765431', N'9876541', N'97式突击步枪', N'43254', N'枪管缺失,枪机/套筒缺失', N'3123', N'12384', N'21381348', N'3342', N'未出库', CAST(N'2021-09-22' AS Date), CAST(N'2021-09-22' AS Date), NULL, N'已检视')
GO
INSERT [dbo].[BoxPackedTable] ([退役报废文件号], [调拨凭证号], [装箱单号], [装备代码], [装备名称], [隶属单位], [管理单位], [出厂时间], [装备时间], [装箱数量], [入库时间]) VALUES (N'9876543210', N'987654320', N'98765430', N'9876540', N'97式突击步枪', N'钢七连', N'陆军182旅', CAST(N'1981-02-01' AS Date), CAST(N'1989-01-01' AS Date), 14, CAST(N'2021-09-22' AS Date))
INSERT [dbo].[BoxPackedTable] ([退役报废文件号], [调拨凭证号], [装箱单号], [装备代码], [装备名称], [隶属单位], [管理单位], [出厂时间], [装备时间], [装箱数量], [入库时间]) VALUES (N'9876543211', N'987654321', N'98765431', N'9876541', N'97式突击步枪', N'钢七连', N'陆军182旅', CAST(N'1981-02-01' AS Date), CAST(N'1989-01-01' AS Date), 15, CAST(N'2021-09-22' AS Date))
INSERT [dbo].[BoxPackedTable] ([退役报废文件号], [调拨凭证号], [装箱单号], [装备代码], [装备名称], [隶属单位], [管理单位], [出厂时间], [装备时间], [装箱数量], [入库时间]) VALUES (N'9876543212', N'987654322', N'98765432', N'9876542', N'97式突击步枪', N'钢七连', N'陆军182旅', CAST(N'1981-02-01' AS Date), CAST(N'1989-01-01' AS Date), 15, CAST(N'2021-09-22' AS Date))
GO
INSERT [dbo].[SinglePackedTable] ([退役报废文件号], [调拨凭证号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [隶属单位], [管理单位], [出厂时间], [装备时间], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (N'1234567890', N'123456780', N'12345670', N'CQ突击步枪', N'QDG-563252', N'枪管缺失,枪机/套筒缺失', N'5462315', N'87542', N'1452', N'282', N'雪豹突击队', N'北部军区', CAST(N'2005-09-01' AS Date), CAST(N'2012-01-01' AS Date), N'未出库', CAST(N'2021-09-22' AS Date), CAST(N'2021-09-22' AS Date), NULL, N'已检视')
INSERT [dbo].[SinglePackedTable] ([退役报废文件号], [调拨凭证号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [隶属单位], [管理单位], [出厂时间], [装备时间], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (N'1234567891', N'123456781', N'12345671', N'CQ突击步枪', N'879797', N'枪机/套筒缺失,机枪框缺失', N'7897', N'879', N'7897', N'', N'雪豹突击队', N'北部军区', CAST(N'2005-09-01' AS Date), CAST(N'2012-01-01' AS Date), N'未出库', CAST(N'2021-09-22' AS Date), CAST(N'2021-09-22' AS Date), NULL, N'已检视')
INSERT [dbo].[SinglePackedTable] ([退役报废文件号], [调拨凭证号], [装备代码], [装备名称], [单装编号], [缺失情况], [枪管号], [枪击或套筒号], [机枪框号], [备份枪管号], [隶属单位], [管理单位], [出厂时间], [装备时间], [出库状态], [入库时间], [检视时间], [出库时间], [检视状态]) VALUES (N'1234567892', N'123456782', N'12345672', N'CQ突击步枪', N'78979', N'', N'789789789', N'78978979564', N'464564646', N'4561233', N'雪豹突击队', N'北部军区', CAST(N'2005-09-01' AS Date), CAST(N'2012-01-01' AS Date), N'未出库', CAST(N'2021-09-22' AS Date), CAST(N'2021-09-22' AS Date), NULL, N'已检视')
GO
INSERT [dbo].[UserTable] ([姓名], [军官证号], [密码], [编码检视操作], [编码检视监督], [信息管理操作], [信息管理监督]) VALUES (N'Top', N'999', N'123456', 1, 1, 1, 1)
INSERT [dbo].[UserTable] ([姓名], [军官证号], [密码], [编码检视操作], [编码检视监督], [信息管理操作], [信息管理监督]) VALUES (N'编码操作', N'1', N'123456', 1, 0, 0, 0)
INSERT [dbo].[UserTable] ([姓名], [军官证号], [密码], [编码检视操作], [编码检视监督], [信息管理操作], [信息管理监督]) VALUES (N'编码监督', N'01', N'123456', 0, 1, 0, 0)
GO
